.header {
  position: relative;
  font-size: 18px;
}
.header .header-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}
.header .btn {
  border: 0;
  font-size: 18px;
  box-shadow: 0;
}
