/* ———————————————————————————编辑区大盒子——————————————————————————— */
.editBox {
  display: flex;
  flex-direction: row;
}
/* 编辑/显示区 */
.inputRegion,
.showRegion {
  /* footer60 Header54 margin-top20 titleBox tagClassBox */
  min-height: calc(100vh - 70px - 54px - 20px - 58px - 44px);
  width: 50%;
  background-color: #fff;
  padding: 30px;
  font-size: 18px;
  word-break: break-word;
}
.inputRegion {
  background-color: #d4f7ff;
  outline: none;
  overflow-y: hidden;
  border: none;
}
/* ——————————————————————————————显示区markdown样式—————————————————————————————— */
/* 表格 */
.markdownStyle table {
  margin: 20px auto;
  border: 1px solid #000;
  border-spacing: 0;
  /*去掉单元格间隙*/
  text-align: center;
}
.markdownStyle table th,
.markdownStyle table td {
  padding: 6px 14px;
  border: 1px solid #000;
}
/* h1 h2 h3 h4 h5 h6 p */
/* .markdownStyle h1,
.markdownStyle h2,
.markdownStyle h3,
.markdownStyle h4,
.markdownStyle h5,
.markdownStyle h6,
.markdownStyle p {
  margin: 0.3em;
} */
/* 行内代码 */
.markdownStyle code {
  color: red;
  background-color: #eeeeee;
  padding: 0 4px;
}
/* 图片 */
.markdownStyle p img {
  display: block;
  max-width: 100%;
  margin: 14px auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.markdownStyle blockquote {
  background-color: #dfdfdf;
  padding: 14px 40px;
  font-size: 18px;
  border-radius: 20px;
  border: 2px #696969 dashed;
}
.markdownStyle strong {
  text-decoration: underline;
}
.markdownStyle blockquote p {
  margin: 0;
}
/* ———————————————————————————————————————————————————————————— */
